node_modules
logs
*.log
npm-debug.log*
.npm
.node_repl_history

*.iml
.idea/
.DS_Store
target/
db-create-all.sql
db-drop-all.sql
*override.properties
*override.yml
logs/
test-output/
*/*/*/*/*.jar
*/*.jar

outdated-dependencies.txt

# VS Code
.classpath
.project
.settings
.factorypath

.ipynb_checkpoints
